.header-logo {
    max-width: 55%;
    vertical-align: inherit;
}

.footer-logo {
    margin-top: -65pt;
    padding-right: 35px;
}
/* 
.footer-logo {
    margin-top: -15pt;
} */

.navbar-collapse {
    margin-top: 2%;
}

h3 {
    position: relative;
    color: #565a5c;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 14px;
    font-size: 18px;
}

p{
    font-size: 16px;
}

li {
    color: #666666;
    font-size: 16px;
    /* font-size: 14px; */
}

.foot-email {
    text-transform: lowercase;
}

#contactus-btn {
    font-size: 12pt;
}

.about-view {
    width: 180px;
    margin-right: 10px;
}

.about-view2 {
    background-color: white;
}

.about-btn2 {
    margin-top: 39px;
    letter-spacing: 1.2px;
     -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.about-btn2:hover .about-view2{
    box-shadow: 0 5px 20px rgba(14,15,18,.7);
    color: black;
    background-color: #00d8ff;
    border: #00d8ff;
}

#client-image {
    max-width: 72%;
}

.gallery-details {
    margin-top: 120px;
    margin-bottom: 109px;
}
